.new-query {
  padding: 30px;
  margin-top: -240px;
}

mat-form-field {
  width: 250px;
}

.newQuery-div{
  text-align: center;
    background-color: #929292;
    height: 50vh;
    color: white;
    padding: 0;
    margin:0;
    font-size: 35px;
}