mat-form-field {
  width: 300px;
}


section {
  background-color: rgb(34, 32, 32);
  /* background-color: rgb(232, 248, 7); */
  height: 90vh;

}

.signup {
  height: 380px;
  margin-top: -220px;

}

.signup-div{
  text-align: center;
    background-color: #929292;
    height: 50vh;
    color: white;
    padding: 0;
    margin:0;
    font-size: 35px;
}