<div class="singeQuery">
  <!-- <p>ask<mat-icon class="singeQuery-code-maticon">code</mat-icon>BOFA</p> -->
  <div style="margin-bottom: 20px">
    <button mat-raised-button routerLink="/forum/queryFeed" style="color: orange">Go BacK!</button>
  </div>
</div>

<div class="container test">
  <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
  <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 singleQuery-details-div">
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
      <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 singleQuery-query-div">
        <div class="singleQuery-div">
            <h2>Question Details</h2>
            <h5>{{staticQuery.id}}:{{staticQuery.state}}</h5>
            <div>
              <span>Question asked:</span>
                <p>{{staticQuery.date | date: 'medium'}}</p>
                <span>Question:</span>
                <p>{{staticQuery.question}}</p>
                <span>Question Description:</span>
                <p>{{staticQuery.description}}</p>
                <span *ngIf="staticQuery.answer">Answer:</span>
                <p *ngIf="staticQuery.answer">{{staticQuery.answer}}</p>
            </div>
            <h2>Time To Answer</h2>
            <div fxLayout="column" fxLayoutAlign="center center" class="answer-div">
                <form (ngSubmit)="giveAnswer(f)" #f="ngForm" class="example-form">
                <mat-form-field >
                      <textarea name="answer" matInput rows="5" placeholder="Your Answer" ngModel required minlength="20" #descInput="ngModel" style="width: 100%;"></textarea>
                    </mat-form-field>
                        <button type="submit" fxLayoutAlign="center center" mat-raised-button [disabled]="f.invalid"  style="background-color: green; color: white; margin-left: 200px; margin-bottom: 20px">Answer</button>
                  </form>
                 
            
        </div>
        </div>
        <!-- <mat-card fxLayout="column" fxLayoutAlign="center center" class="single-card">
          <mat-card-title>Question Details</mat-card-title>
          <mat-card-subtitle><p>{{staticQuery.id}}:{{staticQuery.state}}</p></mat-card-subtitle>
            <div class="singleQuery-content-card">
            <p>Question asked: {{staticQuery.date | date: 'medium'}}</p>
            <p>Question: {{staticQuery.question}}</p>
            <p>Question Description: {{staticQuery.description}}</p>
            <p *ngIf="staticQuery.answer" style="margin: 20px">Answer: {{staticQuery.answer}}</p>
          </div>
          
          <mat-card-title>Time to Answer!</mat-card-title>

          <div fxLayout="column" fxLayoutAlign="center center">
              <form (ngSubmit)="giveAnswer(f)" #f="ngForm" class="example-form">
              <mat-form-field >
                    <textarea name="answer" matInput rows="5" placeholder="Your Answer" ngModel required minlength="20" #descInput="ngModel" style="width: 100%;"></textarea>
                  </mat-form-field>
                      <button type="submit" fxLayoutAlign="center center" mat-raised-button [disabled]="f.invalid"  style="background-color: green; color: white; margin-left: 30px">Answer</button>
                </form>
               
          </div>
 
        </mat-card>
          -->
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
</div>