<div class="welcome"  >
    <p>ask
      <mat-icon class="welcome-code-maticon">code</mat-icon>BOFA</p>
    <div style="padding: 10px;">
      <button mat-raised-button routerLink="/signup" color="primary">Lets Start!</button>
    </div>
</div>

<div class=" container-fluid ">
  <div class="col-md-2 col-xs-1"></div>
  <div class="col-md-8 col-xs-10 welcome-boxes-div">
    <div class="row">
      <div class="col-md-4 col-xs-4 testborder">
        <div class="welcome-activity-div">
          <mat-icon class="welcome-mat-icons">assignment_turned_in</mat-icon>
            <p style="font-weight:bold;" >ACTIVITY</p>
            <p>Stay active and use the information here and also share your thoughts!
                Stay active and use the information here and also share your thoughts!
            </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-4 testborder">
          <div  class="welcome-activity-div">
            <mat-icon  class="welcome-mat-icons">people</mat-icon>
              <p style="font-weight:bold;">COMMUNITY</p>
              <p>Get to know other people who share your passion!
                  Stay active and use the information here and also share your thoughts!
              </p>
          </div>
      </div>
      <div class="col-md-4 col-xs-4 testborder">
          <div class="welcome-activity-div">
              <mat-icon   class="welcome-mat-icons">beenhere</mat-icon>
              <p style="font-weight:bold">CHALLENGES</p>
              <p>Get to know other people who share your passion!
                  Stay active and use the information here and also share your thoughts!
              </p>
          </div>
          </div>
      </div>
    </div>
  
  <div class="col-md-2 col-xs-1"></div>
</div>

<!-- <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and use the information here and also share your thoughts!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! give into new challenges every day</p>
  </section> -->
























  